.c-mobile-nav {
  position: fixed;
  overflow: auto;
  top: $spacing-small * 1.5;
  left: $spacing-small * 1.5;
  right: $spacing-small * 1.5;
  background: $white;
  transform: scale(0.96);
  transform-origin: top right;
  border: 1px solid $border-color;
  box-shadow: 0 2px 4px 0 rgba($black, 0.15);
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: transform $animation-time $animation-curve, opacity $animation-time $animation-curve, visibility $animation-time $animation-curve;

  &.is-open {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  @include mq(small-up) {
    padding: $spacing-xx-large;
  }

  @include mq(medium-up) {
    display: none;
  }
}

.c-mobile-nav__section {
  padding: $spacing-large $spacing-x-large;

  & + & {
    border-top: 1px solid $border-color;
  }
}

.c-mobile-nav__list {
  width: 100%;
  margin: 0 0 $spacing-small 0;
  padding: 0;
  list-style: none;
}

.c-mobile-nav__link {
  display: flex;
  align-items: center;
  width: 100%;
  color: $grey-dark;
  padding: $spacing-tiny 0;
  @include font-size($h2-font-size);
}

.c-mobile-nav__link--secondary {
  color: $grey;
  @include font-size($h4-font-size);
}

.c-mobile-nav__close {
  position: absolute;
  top: $spacing-medium;
  right: $spacing-medium;
}

.c-mobile-nav__icon {
  margin-right: $spacing-small * 1.5;
  fill: $primary-color;
  position: relative;
  top: -2px; // Align with label
}