.c-country {
  position: relative;
  width: 100%;
  display: block;

  @include mq(medium-only) {
    margin-left: $spacing-large;
    margin-right: $spacing-large;
  }
}

.c-country__map {
  @include square(180px);
  margin-bottom: $spacing-medium;

  * {
    fill: $grey;
  }
}

.c-country__name {
  color: $white;
  margin-bottom: 0;

  @include mq(medium-up) {
    margin-bottom: $spacing-small;
  }
}

.c-country__meta {
  color: rgba($white, 0.7);
  padding: 0 $spacing-medium;
}

.c-country__description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  color: $white;
  padding: $spacing-large;
  text-align: left;
  background-color: mix($secondary-color, $black, 85%);
  transition: opacity $animation-time $animation-curve, visibility $animation-time $animation-curve;

  small {
    display: block; // Make sure proper line-height is applied
  }

  @include mq(large-up) {
    padding: $spacing-x-large;
  }

  .c-country:hover & {
    opacity: 1;
    visibility: visible;
  }
}