$down-arrow-width: 64px;

.c-down-arrow {
  position: absolute;
  z-index: 2; // Position above section
  bottom: 4rem;
  left: 50%;
  margin-left: -$down-arrow-width/2;
  width: $down-arrow-width;
  height: $down-arrow-width;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 2px rgba($grey-dark, 0.15);
  transition: box-shadow $animation-time $animation-curve;

  &:hover {
    box-shadow: inset 0 0 0 2px $grey-dark;
  }

  &--contrast {
    box-shadow: inset 0 0 0 2px rgba($white, 0.3);

    &:hover {
      box-shadow: inset 0 0 0 2px $white;
    }
  }
}

.c-down-arrow__icon {
  fill: $grey-dark;

  .c-down-arrow--contrast & {
    fill: $white;
  }
}