.c-field {
  display: block;
  width: 100%;
}

.c-field__input-wrapper {
  position: relative;
}

.c-field__label {
  display: block;
  color: $grey-light;
  @include font-size($small-font-size);
}

.c-field__input {
  width: 100%;
  padding: 0 $spacing-medium;
  height: $button-height-mobile;
  line-height: $button-height-mobile;
  outline: 0;
  font-weight: $font-weight-regular;
  color: $grey-dark;
  border: 0;
  background-color: $white;
  transition: background-color $animation-time $animation-curve, box-shadow $animation-time $animation-curve, color $animation-time $animation-curve;
  resize: none;

  &::placeholder {
    color: $grey-light;
  }

  &:focus {
    box-shadow: 0 0 0 1px $primary-color, inset 0 0 0 1px $primary-color;
  }

  @include mq(medium-up) {
    padding: 0 $spacing-large;
    height: $button-height-desktop;
    line-height: $button-height-desktop;
  }
}

.c-field__input--textarea {
  resize: vertical;
}

.c-field__input--has-right-add-on {
  padding-right: 4rem;
}

.c-field__add-on {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--right {
    right: $spacing-large;
  }
}

.c-field__hint {
  display: block;
  margin-top: $spacing-small;

  @include mq(medium-up) {
    margin-top: $spacing-small * 1.5;
  }
}


// Inline

.c-inline-form {
  display: flex;
}

.c-inline-form__field {
  flex: 1;
}

.c-inline-form__btn {
  margin-left: $spacing-medium;
  flex-shrink: 0;
}