// General

.c-modal,
.c-modal__container {
  backface-visibility: hidden; // Fix iOS bug
}

// Modal

.c-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  text-align: center;
  overflow: auto;
  transition: opacity $animation-time $animation-curve, visibility $animation-time $animation-curve;
  background-color: rgba($black, 0.8);
  z-index: 999;

  &.is-loaded {
    z-index: 600;
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.c-modal__table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.c-modal__cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: $spacing-medium;

  @include mq(small) {
    padding: $spacing-large;
  }

  @include mq(medium) {
    padding: $spacing-x-large;
  }

  @include mq(large) {
    padding: $spacing-xxx-large;
  }
}


// Modal container

.c-modal__container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  background: $white;
  border-radius: $border-radius;
  opacity: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: transform $animation-time $animation-curve, opacity $animation-time $animation-curve;
  z-index: 450;
  @include box-shadow;

  &--wide {
    max-width: 1040px;
  }

  .c-modal.is-visible & {
    opacity: 1;
    transform: none;
  }
}

.c-modal__close {
  position: absolute;
  top: $spacing-large;
  right: $spacing-large;

  @include mq(medium-up) {
    top: $spacing-x-large;
    right: $spacing-x-large;
  }
}