.c-founder {
  width: 100%;
  display: block;
  text-align: center;

  @include mq(small-up) {
    margin-bottom: $spacing-medium;
  }

  @include mq(medium-up) {
    margin-bottom: $spacing-large;
  }

  @include mq(large-up) {
    margin-bottom: $spacing-x-large;
  }
}

.c-founder__photo {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing-medium;
  flex-shrink: 0;
  box-shadow: inset 0 0 0 1px rgba($black, 0.1);
  transition: opacity $animation-time $animation-curve;
  @include square(96px);

  .c-founder:hover & {
    opacity: 0.85;
  }

  @include mq(small-up) {
    @include square(110px);
  }

  @include mq(medium-up) {
    @include square(120px);
  }

  @include mq(large-up) {
    margin-bottom: $spacing-large;
    @include square(140px);
  }

  @include mq(x-large-up) {
    @include square(180px);
  }
}

.c-founder__name {
  margin-bottom: $spacing-tiny;
}

.c-founder__logos {
  display: inline-flex;
  align-items: center;
}

.c-founder__logo {
  position: static;

  & + & {
    margin-left: $spacing-small * 1.5;
  }
}