.c-newsletter {
  background-color: mix($grey-dark, $black, 95%);
  box-shadow: inset 0 -1px 0 0 rgba($white, 0.1);
  @include vertical-padding(2rem);

  @include mq(small-up) {
    @include vertical-padding(3rem);
  }

  @include mq(medium-up) {
    @include vertical-padding(4rem);
  }

  @include mq(large-up) {
    @include vertical-padding(4.5rem);
  }
}

.c-newsletter__container {
  @include mq(medium-up) {
    display: flex;
    align-items: center;
  }
}

.c-newsletter__heading {
  color: $white;
  font-weight: $font-weight-regular;
  margin-bottom: $spacing-medium;

  @include mq(small-up) {
    margin-bottom: $spacing-large;
  }

  @include mq(medium-up) {
    margin-bottom: 0;
    max-width: 400px;
  }

  @include mq(large-up) {
    max-width: 500px;
  }
}

.c-newsletter__form {
  display: flex;
  flex: 1;

  @include mq(medium-up) {
    margin-left: 2rem;
  }

  @include mq(large-up) {
    margin-left: 4rem;
  }

  @include mq(x-large-up) {
    margin-left: 8rem;
  }
}

.c-newsletter__btn {
  flex-shrink: 0;
  margin-left: $spacing-small;

  @include mq(small-up) {
    margin-left: $spacing-medium;
  }
}