.c-hero {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 20rem;
  overflow: hidden;
  background-color: $grey;
  text-align: center;
  background-image: url('/images/hero.jpg');

  @include mq(small-up) {
    padding-top: 10rem;
    padding-bottom: 14rem;
  }

  @include mq(medium-up) {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.c-hero__content {

  @include mq(medium-up) {
    margin-top: -1rem;
  }
}

.c-hero__heading,
.c-hero__subheading {
  color: $white;
  text-shadow: 0 1px 2px rgba($black, 0.25);
}

.c-hero__subheading {
  margin-bottom: 1.25em;
  line-height: $base-line-height;
  color: rgba($white, 0.7);
  font-weight: $font-weight-regular;

  @include mq(medium-down) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
  }
}

.c-hero__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($black, 0.4);
  padding: $spacing-medium 0;

  @supports ((backdrop-filter: blur(8px))) {
    background-color: rgba($black, 0.35);
    backdrop-filter: blur(8px);
  }

  @include mq(medium-up) {
    padding: $spacing-large;
  }
}

.c-hero__meta-container {

  @include mq(small-up) {
    display: flex;
  }
}

.c-hero__meta-item {
  display: flex;
  flex: 1;
  text-align: left;
  flex-direction: column;
  color: rgba($white, 0.75);

  @include mq(small-down) {
    & + & {
      margin-top: $spacing-medium;
    }
  }
}

.c-hero__meta-digit {
  color: $white;
  margin: 0 $spacing-small 0 0;
}