// Base

.c-btn {
  display: inline-flex;
  align-items: center;
  padding: 0 1.25rem;
  height: $button-height-mobile;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
  transition: color $animation-time $animation-curve, transform $animation-time $animation-curve, background-color $animation-time $animation-curve, box-shadow $animation-time $animation-curve;

  &:hover,
  &:focus {
    transform: translateY(-1px);
  }

  @include mq(medium-up) {
    height: $button-height-desktop;
    padding: 0 1.75rem;
    font-size: 13px;
  }
}

.c-btn--small {
  height: $button-height-mobile * 0.8;
  padding: 0 1rem;

  @include mq(medium-up) {
    height: $button-height-desktop * 0.8;
    padding: 0 1.25rem;
  }
}


// Types

.c-btn--primary {
  background-color: $primary-color;
  color: $white;

  &:hover,
  &:focus {
    background-color: mix($primary-color, $black, 95%);
  }
}

.c-btn--secondary {
  background-color: $secondary-color;
  color: $white;

  &:hover,
  &:focus {
    background-color: mix($secondary-color, $black, 95%);
  }
}

.c-btn--contrast {
  box-shadow: inset 0 0 0 2px rgba($white, 0.3);
  color: $white;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 2px $white;
  }
}


// Sizes

.c-btn--full {
  width: 100%;
}


// Icon

.c-btn__icon {
  margin-right: $spacing-small;
}


// Group

.c-btn-group {
  display: inline-flex;
  margin: -$spacing-small;
}

.c-btn-group__item {
  margin: $spacing-small;
}