.c-venture {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-color: $black;
  overflow: hidden;
}

.c-venture--inactive {
  cursor: default;
}

.c-venture__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $spacing-large;
  color: $white;
  background-color: rgba($black, 0.75);
  opacity: 0;
  margin: 0;
  visibility: hidden;
  transition: opacity $animation-time $animation-curve, visibility $animation-time $animation-curve;

  z-index: 20; // Position above photo + logo

  @include mq(large-up) {
    padding: $spacing-x-large;
  }

  @include mq(x-large-up) {
    padding: $spacing-large;
  }

  .c-venture:hover & {
    opacity: 1;
    visibility: visible;
  }
}

.c-venture__text {
  line-height: $base-line-height;
}

.c-venture__photo {
  opacity: 0.4;
  @include cover;
}

.c-venture__flag {
  position: absolute;
  bottom: $spacing-large;
  left: $spacing-large;
  z-index: 10; // Position above image
}

.c-venture__logo {
  position: absolute;
  bottom: $spacing-large;
  left: $spacing-large;
  transform-origin: bottom left;
  z-index: 10; // Position above image

  @include mq(large-down) {
    transform: scale(0.8);
  }
}