// List

.o-list {
  padding-left: $spacing-large;
}

.o-list--bare {
  margin: 0;
  padding: 0;
  list-style: none;
}

.o-list--inline {
  display: inline-flex;
  flex-wrap: wrap;

  > .o-list__item {
    margin-right: $spacing-medium;
  }
}