// Icons

.o-icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  @include square($spacing-large);
}

.o-icon--white {
  fill: $white;
}

.o-icon--brand {
  fill: $primary-color;
}

.o-icon--large {
  @include square(32px);

  @include mq(medium-up) {
    @include square(40px);
  }

  @include mq(large-up) {
    @include square(48px);
  }
}