// Header

$skew-angle: 22deg;

.c-ventures-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: $grey;
  padding-top: $nav-height-mobile;

  @include mq(medium-up) {
    padding-top: $nav-height-desktop;
  }
}

.c-ventures-header__inner {
  position: relative;
  width: 100%;
  height: 100%;

  @include mq(medium-up) {
    width: 130%;
    margin-left: -15%;
    display: flex;
  }

  @include mq(large-up) {
    width: 124%;
    margin-left: -12%;
  }

  @include mq(x-large-up) {
    width: 118%;
    margin-left: -9%;
  }
}

.c-ventures-header__slice {
  position: relative;
  width: 100%;
  height: percentage(1/3);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include mq(medium-up) {
    width: 35%;
    margin-left: -1%;
    height: 100%;
    transform: skewX(-$skew-angle);
  }
}

.c-ventures-header__title {
  position: relative;
  color: $white;
  z-index: 10; // Position above image
  text-shadow: 0 1px 2px rgba($black, 0.25);

  @include mq(medium-up) {
    position: absolute;
    margin: 0;
    transform: skewX($skew-angle);

    .c-ventures-header__slice:nth-child(1) & {
      left: 20%;
      top: 15%;
    }

    .c-ventures-header__slice:nth-child(2) & {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) skewX($skew-angle);
    }

    .c-ventures-header__slice:nth-child(3) & {
      right: 20%;
      bottom: 15%;
    }
  }

  @include mq(large-up) {

    .c-ventures-header__slice:nth-child(1) & {
      left: 18%;
      top: 12%;
    }

    .c-ventures-header__slice:nth-child(3) & {
      right: 18%;
      bottom: 12%;
    }

  }
}

.c-ventures-header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 25%;
  background-size: cover;

  @include mq(medium-up) {
    top: 50%;
    left: 50%;
    width: 175%;
    height: 135%;
    background-position: 50% 0%; // Top align images
    transform: translate3d(-50%, -50%, 0) skewX($skew-angle);
  }
}


// Venture title

.c-venture-title {
  position: relative;
  box-shadow: inset 0 0 0 1px $border-color;
  background-color: $white;

  @include mq(small-down) {
    padding: $spacing-large;
  }

  @include mq(small-up) {
    padding-bottom: 100%;
  }
}

.c-venture-title__content {
  @include mq(small-up) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: $spacing-large;
  }

  @include mq(large-up) {
    padding: $spacing-xx-large;
  }
}

.c-venture-title__name {
  margin-bottom: $spacing-small;
}

.c-venture-title__count {
  display: inline-block;
  color: $primary-color;
  transform: scale(0.75) translateX(-4px);
  transform-origin: left center;
}

.c-venture-title__flag {
  max-height: 24px;
  margin-bottom: $spacing-small * 1.5;

  @include mq(medium-up) {
    margin-bottom: $spacing-medium;
  }
}