// Misc

$white: #fff;
$off-white: #F3F4F7;
$black: #000;
$red: #ED1C24;
$blue: #0066EB;


// Greys

$grey-dark: #15191C;
$grey: #525E68;
$grey-light: #9DA6B0;
$grey-lightest: #D5D9DE;


// Set colors

$primary-color: $red;
$secondary-color: $blue;
$border-color: $grey-lightest;