// Misc

$base-font-size: 16px;
$border-radius: 0;


// Spacing

$spacing-unit: 0.5rem;

$spacing-tiny: $spacing-unit / 2;
$spacing-small: $spacing-unit;
$spacing-medium: $spacing-unit * 2;
$spacing-large: $spacing-unit * 3;
$spacing-x-large: $spacing-unit * 4;
$spacing-xx-large: $spacing-unit * 5;
$spacing-xxx-large: $spacing-unit * 6;


// Media queries

$small: 600px;
$medium: 880px;
$large: 1100px;
$x-large: 1300px;
$xx-large: 1700px;


// Timing

$animation-time: 0.3s;
$animation-curve: cubic-bezier(0.645, 0.045, 0.355, 1);


// Nav

$nav-height-mobile: 72px;
$nav-height-desktop: 90px;


// Button

$button-height-mobile: 50px;
$button-height-desktop: 58px;