// Alignment

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-justify {
  text-align: justify !important;
}

.u-text-right--large-up {
  @include mq(large-up) {
    text-align: right !important;
  }
}

.u-text-lead {
  @include mq(medium-up) {
    font-size: 1.15em;
  }

  margin-bottom: 1em;

  @include mq(medium-up) {
    margin-bottom: 1.5em;
  }
}

.u-text-subheader {
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
}


// Colors

.u-text-dark {
  color: $grey-dark !important;
}

.u-text-contrast {
  color: $white !important;
}

.u-text-accent {
  color: $primary-color !important;
}

.u-text-link-pdf {
  border-bottom: 1px solid currentColor;
}

// Links

.u-text-link {
  color: $grey-dark;
  padding-bottom: $spacing-small/3;
  border-bottom: 1px solid currentColor;
}

.u-text-underline {
  border-bottom: 1px solid currentColor;
}

.u-text-bold {
  font-weight: $font-weight-bold !important;
}