<div class="c-newsletter">
  <div class="o-container c-newsletter__container">
    <h3 class="c-newsletter__heading">Sign up to learn more about Alter’s  ventures and entrepreneurs</h3>
    <form action="#" class="c-newsletter__form">
      <div class="c-field">
        <div class="c-field__input-wrapper">
          <input type="email" class="c-field__input" placeholder="Your email address">
        </div>
      </div>
      <button class="c-btn c-btn--primary c-newsletter__btn">
        <%= inline_svg("/icons/right-arrow.svg", class: "o-icon o-icon--white") %>
      </button>
    </form>
  </div>
</div>