<div class="c-newsletter">
  <div class="o-container c-newsletter__container">
    <h3 class="c-newsletter__heading">Sign up to learn more about Alter’s  ventures and entrepreneurs</h3>
    <div id="mc_embed_signup" class="c-newsletter__form-wrap">
      <form action="//global.us14.list-manage.com/subscribe/post?u=2cad8acc5b0346c9a4299d7c1&amp;id=976bb98078" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="c-newsletter__form validate" target="_blank" novalidate>
        <div class="c-field">
          <div class="c-field__input-wrapper">
            <input type="email" value="" name="EMAIL" class="required email c-field__input" id="mce-EMAIL" placeholder="Your email address">
          </div>
          <small class="c-field__hint">You will receive quarterly updates from Alter. You may opt-out at any time.</small>
        </div>
        <button class="c-btn c-btn--primary c-newsletter__btn">
          <%= inline_svg("/icons/right-arrow.svg", class: "o-icon o-icon--white") %>
        </button>
      </form>
    </div>
  </div>
</div>