<div class="c-modal js-modal js-video-modal">
  <div class="c-modal__table">
    <div class="c-modal__cell js-modal-cell">
      <div class="c-modal__container c-modal__container--wide">
        <div class="o-video-container">
          <iframe class="js-video o-video-container__content" src="https://www.youtube.com/embed/Pmxck-Nt8HQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <button class="c-modal__close js-trigger-video js-close-video">
    <%= inline_svg("/icons/close.svg", class: "o-icon o-icon--white") %>
  </button>
</div>