---
transparent_nav: true

hero:
  heading: Venture Boldly.
  subheading: Creating a Network of the World’s Best Tech Founders

stats:
  - digit: 14
    label: countries
  - digit: 25
    label: ventures
  - digit: 1
    label: unmatched network
---

<div class="c-hero u-cover">
  <div class="o-container">
    <div class="c-hero__content">
      <h1 class="c-hero__heading"><%= current_page.data.hero.heading %></h1>
      <h3 class="c-hero__subheading"><%= current_page.data.hero.subheading %></h3>
      <div class="c-btn-group">
        <div class="c-btn-group__item"><a href="/about/" class="c-btn c-btn--primary">About us</a></div>
        <div class="c-btn-group__item"><a href="/ventures/" class="c-btn c-btn--contrast">Our ventures</a></div>
      </div>
    </div>
  </div>
  <div class="c-hero__meta">
    <div class="o-container c-hero__meta-container">
      <% current_page.data.stats.each do |stat| %>
        <div class="c-hero__meta-item">
          <h2 class="c-hero__meta-digit"><%= stat.digit %></h2>
          <p><%= stat.label %></p>
        </div>
      <% end %>
    </div>
  </div>
  <video playsinline autoplay muted loop poster="/images/poster.jpg" class="c-hero__video">
    <source src="/videos/alter.webm" type="video/webm">
    <source src="/videos/alter.mp4" type="video/mp4">
  </video>
</div>