---
transparent_nav: true

stats:
  - digit: 4
    label: countries in transition
  - digit: 12
    label: ventures leading the way
  - digit: $1.1M
    label: value added by Alter
---

<div class="c-hero">
  <div class="o-container">
    <div class="c-hero__content">
      <h1 class="c-hero__heading">Venture Boldly.</h1>
      <h3 class="c-hero__subheading">Alter is maecenas sed diam eget risus varius blandit sit amet non magna.</h3>
      <div class="c-btn-group">
        <a href="/about/" class="c-btn c-btn--primary c-btn-group__item">About us</a>
        <a href="/ventures/" class="c-btn c-btn--contrast c-btn-group__item">Our ventures</a>
      </div>
    </div>
  </div>
  <%= partial('partials/down_arrow', :locals => { :link => "#about" }) %>
</div>

<section class="c-home-main" id="about">
  <div class="c-home-main__video-wrap">
    <button class="c-home-main__play">
      <%= inline_svg("/icons/play-video.svg", class: "c-home-main__play-icon o-icon o-icon--white") %>
    </button>
  </div>
  <div class="c-home-main__content">
    <% current_page.data.stats.each do |stat| %>
      <div class="c-home-main__item">
        <h3 class="h1 c-home-main__digit"><%= stat.digit %></h3>
        <p><%= stat.label %></p>
      </div>
    <% end %>
  </div>
</section>