<div class="c-ventures-header">
  <div class="c-ventures-header__inner">
    <h1 class="c-ventures-header__title">Lead</h1>
    <h1 class="c-ventures-header__title">Scale</h1>
    <h1 class="c-ventures-header__title">Transform</h1>
  </div>
  <%= partial('partials/down_arrow', :locals => { :link => "#about" }) %>
</div>